<div class="grey"><h1>Add Health Resources</h1></div>
<%= form_for @healthresource, url: healthresources_path do |f| %>
	<div class = "section">
	<label>Title</label><br>
	<input name="healthresource[title]" type="text" />
	<p></p>	
	<label>Description</label><br>
	<textarea name="healthresource[description]"></textarea>
	<p></p>	
	<label>URL</label><br>
	<input name="healthresource[url]" type="text" />
	<p></p>	
	<input name="commit" type="submit" value="Save Health Resource" />
	</div>
<% end %>
<p>
	<div class="grey"><%= link_to "Back to index", "/" %></div>
</p>
