<h1>Health Resource</h1>
  <div class="healthresource">
    <h2><%= link_to @healthresource.title, @healthresource.url %></h2>
    <p><%= @healthresource.description %></p>
  </div>
<p><%= link_to "BACK", "/" %></p>