/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


input,textarea { width: 75%; padding: 10px; } 
a, label { color: #fff; }

.grey { background-color: #333; width: 100%; text-align: center; color: #fff; padding: 10px;}
.stripes { background-color: #fff; background-image: url("https://sci-and-u.ca/images/city-overlay2.png"); background-size: cover; background-position: top;  background-repeat: no-repeat; min-height: 100vh; }
.section { background-color: #6699FF; min-height: 10vh; margin-top: 10px; margin-bottom: 10px; text-align: center; padding: 10px; }


